/* image redimensionner */

#imageecran
{
    background-image: url(../images/fondecran.png);
    background-position:center center;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment:fixed;

}


.imageheader 
{
	 padding-right: 5%; 
	 height: 20px;
	 width: 20px;
}

.imageflechehaut
{
	height: 32px;
	width: 30px;
    margin-left: 25px;
}

.imagefleche
{
	height: 32px;
	width: 30px;
}
.imagefenetre
{
	float: left;
    padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 5%; 
	padding-left: 3%;
	height: 50px;
	width: 50px;
	opacity: 1;
}

#imagevoletsbouton
{
	float: left;
	margin-left: 30px;
	padding-left: 5px;
    padding-top: 2px;	  
	height: 40px;
	width: 40px;
}

.imageradiateur
{
	float: left;
    padding-top: 7px;
	padding-bottom: 0px;
	padding-right: 0px; 
    height: 50px;
    width: 68px;
    padding-left: 0px;
	opacity: 1;
}

.imageampoule
{
	float: left;
    padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px; 
	padding-left: 0px;
	height: 50px;
	width: 50px;
	opacity: 1;
}

/*--------------------------------------------------------------------------*/
/*   bouton  */

#boutonserrure
{
	margin-left: 98px;
	width: 50px;
}

#boutonchiffre
{
    margin-left: 32%;
    height: 210px;
    width: 132px;
}

#tailleboutonchiffre
{
    width: 10px;
    height: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    padding-top: 11.2;
    padding-right: 16px;
    padding-bottom: 11.2;
    padding-left: 16px;
}


#boutonhautcarrehaut
{
	border-style: double;
	border-radius: 30px 30px 0px 0px;
	border-color: #000;
    height: 60px;
    width: 87%;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
	background: #000;
	opacity: 0.6;
	z-index: 2;
}

#boutonhautcarrebas
{
	border-style: double;
	border-radius: 30px 30px 0px 0px;
	border-color: #000;
    height: 40px;
    width: 87%;
    margin-top: 0px;
	background: #000;
	opacity: 0.6;
	z-index: 2;
}

#tailletextevolets
{
	font-size: 0.7em;
    margin-bottom: 0px;
    margin-top: 1.5px;
    margin-left: 95px;
}

#tailletextlumiere
{
	font-size: 0.7em;
    margin-bottom: 0px;
    margin-top: 1.5px;
    
}

.textboutonhaut
{
	font-size: 1.1em;	
    margin-top: 0px;
    padding-top: 10px;
    color: #fff;
    text-shadow: 0 1px 0 #000000;
}

#centrebouton
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
}
#boutonstandar
{
	font-size: 12px;
	border-style: double;
	border-radius: 8px;
    width: 138px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 37px;
	background: #CCC;
	opacity: 1;
	z-index: 2;
}
#formeboutongauche
{
	float: left;
	border-style: double;
	border-radius: 10px;
	border-color: #000;
	margin-left: 5%;
    width: 87%;
	height: 47px;
	background: #fff;
	opacity: 1;
	z-index: 2;
}

#formeboutondroite
{
	float: right;
	border-style: double;
	border-radius: 10px;
	border-color: #000;
    margin-right: 5%;
    width: 87%;
    height: 47px;
	background: #fff;
	opacity: 1;
	z-index: 2;
}


#boutonvoletsouvert
{
	margin-left: 10px; 
	margin-top: 0px; 
	margin-right: 10px;
	border-top-width: 0px; 
	padding-top: 0px; 
	padding-left: 0px; 
	padding-bottom: 0px; 
	padding-right: 0px; 
	margin-bottom: 31px; 
	border-right-width: 0px; 
	border-bottom-width: 0px; 
	border-left-width: 0px; 
	width: 50px; 
	height: 49px;"
}


#boutonlumiere
{
	font-size: 12px;
	border-style: double;
	border-radius: 8px;
    width: 231px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 50px;
	background: #CCC;
	opacity: 1;
	z-index: 2;
}

#formeboutonlumiere
{
	float: left;
	border-style: double;
	border-radius: 10px;
	border-color: #000;
	margin-left: 0px;
    width: 233px;
	height: 52px;
	background: #fff;
	opacity: 1;
	z-index: 2;
}

#boutonAlarme
{

}

/*------------------------------------------------------------------------------*/
/*		footer		*/
.footer
{
    padding-top: 0px;
    padding-bottom: 0px;
    height: 40px;
}

/*--------------------------------------------------------------------------*/
/*   Carrés  */


.centredate
{
	color:#fff;
	opacity: 1;
    width: 240px;
    padding-right: 100px;
    padding-left: 35px;	
    margin-bottom: 0%;
    margin-top: 0%;
}

.centremeteo
{
	color:#FFF;
	opacity: 1;
	width: 260px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;	
}

.centreheure
{
	color:#fff;
	opacity: 1;
	padding-right: 135px;
    padding-left: 135px;
    margin-top: 0%;
    margin-bottom: 0%;
}


#carrecentralbas
{
	border-radius: 30px;
	border-style: double;
    float: right;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-right: 1%;
    margin-left: 0px;
    width: 20%;
    height: 290px;
    background-color : #fff; 
    opacity: 0.8;
    z-index: 1;
}

#carrecentral
{
	border-radius: 30px;
	border-style: double;
    float: right;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 7%;
    margin-left: auto;
    width: 20%;
    height: 290px;
    background-color : #fff; 
    opacity: 0.8;
    z-index: 1;
} 

#carregauche
{

	float: left;
	border-radius: 30px;
    overflow: hidden;
    margin-right: auto;
    margin-left: 7%;
    width: 360px;
    height: 275px;
    background-color : #000; 
    opacity: 0.6;
    z-index: 1;
}

#carredroite
{
	float: right;
	overflow: hidden;
	margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 7%;
    margin-left: auto;
	width:250px;
	height:250px;
	background:#fff;
	opacity: 0.8;
	-webkit-border-radius:125px;
	-moz-border-radius:125px;
	-o-border-radius:125px;
	border-radius:125px;
}

#carrebasgauche
{
	float: left;
	margin-right: 0px;
	margin-left: 7%;
    margin-top: 52px;
    margin-bottom: 5%;
	border-style: double;
	border-radius: 30px;
	border-color: #000;
	width: 20%;
	height: 290px;
	background: #fff;
	opacity: 0.8;
	z-index: 1;
}

#carrebasdroite
{
	float: right;
	margin-right: 7%;
	margin-top: 30px;
    margin-bottom: 5%;
	border-style: double;
	border-radius: 30px;
	border-color: #000;
	width: 20%;
	height: 290px;
	background: #fff;
	opacity: 0.8;
	z-index: 1;
}

/*--------------------------------------------------------------------------*/
/*   interrieur des carrés  */

.bascarrevolets
{
	opacity: 1;
    margin-top: 175px;
}


.bascarreradiateur
{
	opacity: 1;
    margin-top: 100px;    
    margin-left: 10px;
}

.bascarrelumiere
{
	opacity: 1;
    margin-top: 150px;    
    margin-left: 10px;
}

/*--------------------------------------------------------------------------*/
/*   Module volets  */

.tableaupieces
{
	float: left;
    padding-top: 7%;
    padding-left: 0px;
    margin-left: 40px;
    width: 50%;
    height: 50%;
}

.interrupteurpieces
{	
    padding-left: 3%;
    margin-left: 55%;
    padding-top: 5px;
    margin-top: 30px;
    margin-left: 155px;
}

.forminterrupteurpieces
{
	padding-top: 1%;
	padding-bottom: 1%;
}
