/* image redimensionner */

.imagehome 
{
	 padding-right: 5%; 
	 height: 20px;
	 width: 20px;
}

.centredate
{
	color:#FFFBFB;
    padding-top: 20px;
    width: 240px;
    padding-right: 100px;
    padding-left: 20px;	
}

.centremeteo
{
	color:#FFFBFB;
	width: 260px;
    padding-top: 45px;
    padding-left: 50px;
    padding-right: 50px;	
}

.centreheure
{
	color:#FFFBFB;
    padding-left: 100px;
    padding-top: 20px;
}


.carrecentral
{
	border-radius: 30px;
    margin-left: 35%;
    margin-top: 3%;
    width: 360px;
    height: 170px;
    background-color : #333333; 
}