/* image redimensionner */

.imageheader 
{
	 padding-right: 5%; 
	 height: 20px;
	 width: 20px;
}

.imagefooterhome 
{
    padding-left: 35%;
    padding-top: 0px;
    padding-bottom: 0px;
	 padding-right: 2%; 
	 height: 40px;
	 width: 40px;
}
.imagefooter
{
    padding-top: 0px;
    padding-bottom: 0px;
	 padding-right: 2%; 
	 height: 40px;
	 width: 40px;
}

.footer
{
    padding-top: 0px;
    padding-bottom: 0px;
    height: 40px;
}


.centredate
{
	color:#FFFBFB;
    padding-top: 20px;
    width: 240px;
    padding-right: 100px;
    padding-left: 35px;	
}

.centremeteo
{
	color:#FFFBFB;
	width: 260px;
    padding-top: 45px;
    padding-left: 50px;
    padding-right: 50px;	
}

.centreheure
{
	color:#FFFBFB;
	padding-right: 135px;
    padding-left: 135px;
}


.carrecentral
{
	border-radius: 30px;
    margin-left: 35%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 360px;
    height: 170px;
    background-color : #333333; 
    z-index: 1;
}

.carregauche
{
	width: 200px;
	height: 200px;
	background-color: #333333;
	z-index: 2;
}








