<!DOCTYPE html>
<html>

	<head>
		

	</head>

	<body>
		
		<div id = 'date'></div>
		<div id = 'heure'></div>
		<div id = 'geoloc'>
			<input type = 'hidden' id = 'latitude'></input>
			<input type = 'hidden' id = 'longitude'></input>	
			<div id = 'erreur'></div>		
		</div>

		<!--	Inclusion du javascript	-->
		<script type="text/javascript" src = "../model/externe/jquery.js" ></script>
		<script type="text/javascript" src = "date.js" ></script>
		<script type="text/javascript" src = "geolocalisation.js"></script>

	</body>

</html>