<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Accueil interface de domotique</title>
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="themes/domotique.min.css" />
	<link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.3/jquery.mobile.structure-1.4.3.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>
	</head>

	<body>
		<div data-role="page" data-theme="a">
			<div data-role="header" data-position="fixed">
				<h1><img src="images/home.png" alt="home" class="imageheader">Gestion des radiateurs</h1>
			</div>
			<div class="tableaupieces">
				<ul id="two" class="tablist-content" data-role="listview" data-inset="true">
			        <li><a href="#">Chambre</a></li>
			        <li><a href="#">Salon</a></li>
			        <li><a href="#">Salle de bain</a></li>
			        <li><a href="#">Cuisine</a></li>
			    </ul>
			</div>
			<div class="interrupteurpieces">
				<form>
				    <select name="flip-3" id="flip-3" data-role="flipswitch" data-mini="true">
				        <option value="off">Off</option>
				        <option value="on">On</option>
				    </select>
				</form>
				<form class="forminterrupteurpieces">
				    <select name="flip-3" id="flip-3" data-role="flipswitch" data-mini="true">
				        <option value="off">Off</option>
				        <option value="on">On</option>
				    </select>
				</form>
				<form class="forminterrupteurpieces"> 
				    <select name="flip-3" id="flip-3" data-role="flipswitch" data-mini="true">
				        <option value="off">Off</option>
				        <option value="on">On</option>
				    </select>
				</form>
				<form class="forminterrupteurpieces">
				    <select name="flip-3" id="flip-3" data-role="flipswitch" data-mini="true">
				        <option value="off">Off</option>
				        <option value="on">On</option>
				    </select>
				</form>
		</div>
	</body>

</html>